<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalismaTakip.veriler" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CalismaTakip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CalismaTakip.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CalismaTakip.veriler>
            <setting name="combo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastLogin" serializeAs="String">
                <value>2022-08-22</value>
            </setting>
            <setting name="lastWorked" serializeAs="String">
                <value>2022-08-22</value>
            </setting>
            <setting name="days" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="workeddays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nonworkeddays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="photoNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="not" serializeAs="String">
                <value />
            </setting>
            <setting name="flowerStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="startday" serializeAs="String">
                <value />
            </setting>
            <setting name="workdays" serializeAs="String">
                <value />
            </setting>
            <setting name="nonworkdays" serializeAs="String">
                <value />
            </setting>
            <setting name="photoPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastNonWorked" serializeAs="String">
                <value />
            </setting>
        </CalismaTakip.veriler>
        <CalismaTakip.Properties.Settings>
            <setting name="SplitterPositions" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </CalismaTakip.Properties.Settings>
        <CalismaTakip.Settings1>
            <setting name="combo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastLogin" serializeAs="String">
                <value>2022-08-22</value>
            </setting>
            <setting name="lastWorked" serializeAs="String">
                <value>2022-08-22</value>
            </setting>
            <setting name="days" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="workeddays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nonworkeddays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="photoNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="not" serializeAs="String">
                <value />
            </setting>
        </CalismaTakip.Settings1>
    </userSettings>
</configuration>